@font-face {
  font-family: 'SF-Pro-Text-Bold';
  src: url('./SF-Pro-Text-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'SF-Pro-Text-Regular';
  src: url('./SF-Pro-Text-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'SF-Pro-Text-Semibold';
  src: url('./SF-Pro-Text-Semibold.otf') format('opentype');
}
